@import url(https://fonts.googleapis.com/css?family=Khula:700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
	background:#333 url(https://helpx.adobe.com/content/dam/help/ko/photoshop/how-to/compositing/_jcr_content/main-pars/image/compositing_1408x792.jpg) no-repeat center bottom;
	background-size:cover;
}

body {
	box-shadow:inset 0 0 5em #000;
}

html,body {
	height:100%;
	overflow:hidden;
}

.container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
}


.ai-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  -webkit-flex: none;
          flex: none;
  max-height: 700px;
}

.ai-header {
  -webkit-flex: none;
          flex: none;
  height: 80px;

  display: -webkit-flex;
  display:         flex;

  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.ai-header .logo {
  display: block;
  width: 200px;
  margin: 0 auto;
  justify-content: center;
}

.ai-main-display {
  -webkit-flex: none;
          flex: none;
  height: 340px;
  background-color: #282C35;
  border-radius: 8px;
  margin: 5px;
	padding: 30px;


  display: -webkit-flex;
  display:         flex;

  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.ai-main-display .text {
  color: #A9B0BD;
  font-size: 2em;
}

.ai-meta-display {
  -webkit-flex: 1;
          flex: 1;
  margin: 5px;
  padding: 10px;
  background-color: #E8EAED;
  border-radius: 8px;
  height: 50px;
}


.user-container {
  -webkit-flex: 1;
          flex: 1;
  width: 100%;
  height: 80px;

  display: -webkit-flex;
  display:         flex;

  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}


.user-container input {
    -webkit-flex: none;
            flex: none;

    border:2px solid rgba(255,255,255,.5);
    font-size:1.75em;
    line-height: 40px;
    padding: 10px 10px;
    color:rgba(255,255,255,.5);
    border-radius: .25em;
    background:transparent;
    width: 94%;
}

.user-container button {
	background-color: gray;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
	width: 80px;
	height: 80px;
}
.user-container button:hover {
	background-color: gray;
}
.user-container button.active {
	background-color: #FEFC66;
	color: gray;
}

.history {
  -webkit-flex: 2;
          flex: 2;
  height: 100px;
  background-color: #E8EAED;
	border-radius: 12px;
	padding: 5px 20px;
}

.history .message {

}

.show {
	display: block;
}

.noshow {
	display: none;
}

#ai_image {
	height: 100%;
	width: 100%;
}


.dg.main {
	display: none;
}
